$background-color: #090a13;
$main-color: #f6a01f;
$secondary-color: #266fff;
$main-color-hover: 0px 0px 20px rgba($main-color, 0.8);
$secondary-color-hover: 0px 0px 20px rgba($secondary-color, 0.8);
$text-color: #ffffff;
